<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><%= title %></h1>

    

    <form action="/category/add" method="POST">

        <label for="name">name</label>
        <input type="text" name="cat_name">
        

        <input type="submit" value="add">

    </form>
    
    
</body>
</html>